.App {
  /*text-align: center;*/
}

.App-header{
  color: purple;
}

.App-card-panel {
  background-color: rgb(255, 255, 255);
}

.picker__date-display {
  background-color:purple;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
  background-color:purple;
}

.picker__weekday-display {
  background-color: blueviolet;
}

.picker__cancel,
.picker__today,
.picker__close{
  color: blueviolet;
}

.picker__day.picker__day--today {
  color: rgb(208, 69, 255);
  font-weight: 700;
}

.picker__clear {
  color: rgb(188, 128, 244);
}

.tabs .tab a {
  color: #78b51776;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: #78b517;
  font-weight: 700;
}

.tabs .indicator {
  background-color: #5baa01;
  height: 4px;
}

.homework-list-h6 {
  color: rgb(140, 62, 250);
}